/* Don't use this file to edit your site style! Create a different CSS file for that. */
/* This file defines how custom elements (like sitebox) will look like, setting CSS that breaks main nekoweb site on purpose is prohibited and may result in ban and site deletion! */

/* Must start with ".site-box". Change how your website will appear on main nekoweb site: https://lune.dimden.dev/405a44b7e5.png */
.site-box {
    background-color: aliceblue;
    text-align: center;
    color: #41c3ff;
    font-size: 12px;
    border-radius: 10px;
    box-shadow: inset 0 0 3px #41c3ff;
}

.site-box > a > p {
    color: #41c3ff;
    font-weight: bold;
}

.site-box > a > span {
    color: var(--darkbrown);
}