/*
body {
  display: grid;
  grid-template-columns: 15% 1fr 15%;
}

.image-wrapper {
  align-self: center;
  width: 80%;
  border: 1px solid;
}
*/

/* START YURUKA FONT IMPORTATION */
/* @import url(https://db.onlinewebfonts.com/c/2b3966678f6a1c8c8be202caeb49d95a?family=FOT-Yuruka+Std);  */

@font-face {
  font-family: "YurukaStd";
  src: url("resources/fonts/yuruka/yuruka.woff2")format("woff2"),
  url("resources/fonts/yuruka/yuruka.woff")format("woff"),
}
/* END YURUKA FONT IMPORTATION */

html {
  /* background-color: #b5e7ff; */
  font-family: YurukaStd;
  background-image: url("resources/checks.gif");
  background-repeat: repeat;
  background-size: 10%;
}

body {
  position: relative;
  background-color: aliceblue;
  margin: auto 15% auto 15%;
  padding: 10px;
}

header {
  position: relative;
  width: auto;
  margin-bottom: -8px;
}

header img {
  width: 100%;
}

header i {
  position: absolute;
  left: 0;
  bottom: -30px;
  color: #3192fd;
  font-size: 100px;
  text-shadow: 1px;
}

header a {
  margin-bottom: -10px;
}

main {
  border: 1px solid;
  padding: 20px;
}

.main-image {
  width: 100%;
}

h1 {
  margin-top: 0;
}

a {
  color: #3192fd;
}

a:visited {
  color: #225ebd;
}

a:hover {
  color: #40c9fe;
}

blockquote {
  display: inline-block;
  width: 50%;
  text-align: center;
  border: 1px solid;
  border-radius: 20px;
  background-color: #e7f1ff;
}

blockquote img {
  width: 75%;
}

#s_clout h2, p {
  margin: 0;
}

.buttonlink {
  background-color: #85dcff;
}

footer {
  padding: 5px;
  font-size: 13px;
}