/*
body {
  display: grid;
  grid-template-columns: 15% 1fr 15%;
}

.image-wrapper {
  align-self: center;
  width: 80%;
  border: 1px solid;
}
*/

/* Start Yuruka font importation */
/* @import url(https://db.onlinewebfonts.com/c/2b3966678f6a1c8c8be202caeb49d95a?family=FOT-Yuruka+Std);  */

@font-face {
  font-family: "YurukaStd";
  src: url("resources/fonts/yuruka/yuruka.eot");
  src: url("resources/fonts/yuruka/yuruka\(1\).eot")format("embedded-opentype"),
  url("resources/fonts/yuruka/yuruka.woff2")format("woff2"),
  url("resources/fonts/yuruka/yuruka.woff")format("woff"),
  url("resources/fonts/yuruka/yuruka.ttf")format("truetype"),
}
/* End Yuruka font importation */

html {
  /* background-color: #b5e7ff; */
  font-family: YurukaStd;
  background-image: url("resources/checks.gif");
  background-repeat: repeat;
  background-size: 10%;
}

body {
  background-color: aliceblue;
  margin: auto 15% auto 15%;
  padding: 10px;
}

main {
  border: 1px solid;
  padding: 5pt 5pt 5pt 5pt;
}

footer {
  font-size: 13px;
}